<% content_for :body_class, 'bg-light' %>
<section class="section item-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class='title is-2'><%= @item.title %></h1>
      <%= image_tag(@item.image_url(:default)) %>
      <div class="content pa4 mt3 bg-white border-radius-3">
        <%= @item.description %>
      </div>
    </div>
    <% if !item_author(@item) %>
      <div class="column is-3 is-offset-1">
        <div class="bg-white pa4 border-raius-3">
          <h3 class="title is-5 has-text-centered"><%= @item.condition %></h3>
          <h4 class="title is-5 has-text-centered"><%= number_to_currency(@item.price) %></h4>
          <p class="has-text-centered mb4">Sold By: <%= @item.user.name %></p>
          <%= button_to "Add to Cart", cart_items_path(item_id: @item), class: 'button is-danger add-to-cart' %>
        </div>
      </div>
    <% end %>
  </div>
  <% if item_author(@item) %>
    <%= link_to "Edit", edit_item_path(@item), class: 'button' %>
  <% end %>
  <%= link_to 'Back', items_path, class: 'button' %>
</section>
